html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body, input {
  font-family: 'Roboto', sans-serif;
}

header, main, footer {
  margin: 0 auto;
}

header span {
  font-family: 'Shrikhand', cursive;
  font-size: 30px;
  color: black;
}

header, main, footer {
  max-width: 1440px;
}

.operation h1, .resto h1, .explore h1 {
  font-size: 20px;
  font-weight: 900;
}

.operation h2 {
  font-size: 15px;
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: #9356DC;
}

.button {
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 1px 1px 8px grey;
  color: white;
  border: 0;
}

header {
  width: 100%;
  height: 63px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header i {
  position: absolute;
  top: 26px;
  left: 23px;
  transform: scale(1.1, 1.1);
}

.h_box-shadow {
  width: 100%;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 8px #cfcfcf;
}

.explore__where {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 19px;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  color: #3a3a3a;
}

.explore__where i {
  width: 12px;
  height: 16px;
  color: #353535;
}

.explore__where input {
  width: 120px;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  border: none;
}

.explore__where input::placeholder {
  color: black;
}

.explore__book {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  background-color: #F6F6F6;
  padding: 43px 0 57px 0;
}

.explore__book .explorer {
  width: 219px;
  height: 50px;
}

.explore__book h1 {
  padding: 0 81px 0 65px;
}

.explore__book p {
  padding: 0 31px 0 39px;
  font-size: 16px;
  font-weight: 100;
}

.operation {
  width: 100%;
  padding: 52px 0 68px 0;
}

.operation h1 {
  padding: 0 0 32px 21px;
}

.operation__w {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

@media screen and (min-width: 992px) {
  .operation__w {
    flex-direction: row;
  }
}

.operation__w--button {
  position: relative;
  width: 321px;
  height: 74px;
  background-color: #F6F6F6;
  box-shadow: 4px 4px 8px #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 19px;
}

.operation__w--button:hover {
  background-color: #f5edff;
}

.operation__w--circle {
  position: absolute;
  left: -10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}

.operation__w i {
  padding-left: 0;
  padding-right: 20px;
  color: #7E7E7E;
}

.resto {
  width: 100%;
  padding: 58px 0 64px 0;
  background-color: #F6F6F6;
}

.resto h1 {
  padding: 0 0 27px 21px;
}

.resto h2 {
  font-weight: bold;
}

.resto__w {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

@media screen and (min-width: 992px) {
  .resto__w {
    flex-direction: row;
    justify-content: center;
  }
}

.resto__card {
  width: 335px;
  height: 251px;
  background-color: white;
  box-shadow: 4px 4px 8px #e5e5e5;
  border-radius: 14px;
}

.resto__card img {
  width: 335px;
  height: 174px;
  object-fit: cover;
  border-radius: 14px 14px 0 0;
}

.resto__card__img {
  display: block;
  position: relative;
}

.resto__card__new {
  width: 81px;
  height: 29px;
  padding: 8px 0 0 15px;
  font-size: 13px;
  background-color: #99E2D0;
  color: #008766;
  display: block;
  position: absolute;
  top: 13px;
  right: 11px;
}

.resto__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 77px;
  padding: 0 24px 0 14px;
}

i.far {
  font-size: 1.4rem;
}

.fa-heart:hover {
  font-style: normal;
  font-family: fontawesome;
  color: transparent;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(#9356DC 20%, #FF79DA);
  animation: pulse 1s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
  width: 100%;
  height: 197px;
  background-color: #353535;
  color: white;
}

footer h1 {
  font-family: "Shrikhand", cursive;
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 23px;
}

footer li {
  font-size: 14px;
  margin-bottom: 10px;
}

footer i {
  margin-right: 12px;
}

footer li a {
  color: white;
  text-decoration: none;
}

footer li a:visited {
  color: white;
}

footer li a:hover {
  color: #FF79DA;
}

.menu img {
  width: 100%;
  height: 258px;
  object-fit: cover;
}

.menu__w {
  transform: translateY(-38px);
  margin-bottom: -38px;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 39px 39px 0 0;
  padding: 41px 0 0 0;
}

.menu__w__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 38px 0px 19px;
}

@media screen and (min-width: 992px) {
  .menu__w__title {
    padding: 0 10vw 0 10vw;
  }
}

.menu__w__title--icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu h1 {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  font-weight: 100;
}

.menu h2 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 100;
  margin-left: 20px;
  margin-top: 36px;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}

@media screen and (min-width: 992px) {
  .menu h2 {
    margin-left: 10vw;
  }
}

.menu h3 {
  font-weight: bold;
}

.menu p {
  font-size: 13px;
  font-weight: 100;
}

.order_w {
  height: 154px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order_w .order {
  width: 186px;
  height: 50px;
}

.meal {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 992px) {
  .meal {
    flex-direction: row;
    justify-content: center;
  }
}

.choice {
  background-color: white;
  width: 349px;
  height: 68px;
  border-radius: 14px;
  box-shadow: 4px 4px 8px #e5e5e5;
  display: flex;
  flex-direction: row;
}

.choice__left {
  padding: 15px 0 0 11px;
  width: 290px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.choice__left p {
  margin-top: 10px;
}

.choice__middle {
  width: 64px;
  padding: 41px 0 0 16px;
}

.choice__right {
  opacity: 0;
  width: 0;
  background-color: #99e2d0;
  border-radius: 0 14px 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice__right .fa-check-circle {
  color: white;
}

.choice:hover .choice__right {
  transition: 0.5s;
  width: 59px;
  opacity: 1;
}
