html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

header span {
  font-family: 'Shrikhand', cursive;
  font-size: 30px;
  color: black;
}

h1 {
  font-size: 20px;
  font-weight: 900;
}

h2 {
  font-size: 15px;
  font-weight: bold;
}

header {
  height: 63px;
}

header span {
  width: 100%;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px grey;
}

.explore__where {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 19px;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  color: #3a3a3a;
  font-size: 14px;
  font-weight: 600;
}

.explore__where i {
  width: 12px;
  height: 16px;
  color: #353535;
}

.explore__book {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 287px;
  text-align: center;
  background-color: #f6f6f6;
}

.explore__book button {
  width: 219px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#f175da, #9e59dc);
  box-shadow: 1px 1px 8px grey;
  color: white;
  border: 0;
}

.explore__book h1 {
  padding: 0 81px 0 65px;
}

.explore__book p {
  padding: 0 31px 0 39px;
  font-size: 16px;
  font-weight: 100;
}

.operation {
  width: 100%;
  height: 440px;
}

.operation h1 {
  padding: 52px 0 32px 21px;
}

.operation__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.operation__wrapper--button {
  width: 321px;
  height: 74px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 19px;
  position: relative;
  gap: 20px;
}

.operation__wrapper--circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10px;
  font-size: 11px;
}

.operation__wrapper i {
  color: #7E7E7E;
}

.resto {
  width: 100%;
  height: 1226px;
  background-color: #f6f6f6;
}

.resto h1 {
  padding: 58px 0 27px 21px;
}

.resto__w {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.resto__card {
  width: 335px;
  height: 251px;
  background-color: white;
  border-radius: 14px;
}

.resto__card img {
  width: 335px;
  height: 174px;
  object-fit: cover;
  border-radius: 14px 14px 0 0;
}

.resto__card__img {
  display: block;
  position: relative;
}

.resto__card__new {
  width: 81px;
  height: 29px;
  padding: 8px 0 0 15px;
  font-size: 13px;
  background-color: #99E2D0;
  color: #008766;
  display: block;
  position: absolute;
  top: 13px;
  right: 11px;
}

.resto__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 77px;
  padding: 0 24px 0 14px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
  width: 100%;
  height: 197px;
  background-color: #353535;
  color: white;
}

footer h1 {
  font-family: "Shrikhand", cursive;
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 23px;
}

footer li {
  font-size: 14px;
  margin-bottom: 10px;
}

footer i {
  margin-right: 12px;
}
