.button {
  border-radius: 25px;
  background: linear-gradient($secondary, $primary);
  box-shadow: 1px 1px 8px grey;
  color: white;
  border: 0;
  &:hover {
    filter: brightness(115%);
    box-shadow: 2px 2px 12px grey;
    transition: 0.3s ease-in-out;
  }
}