.fa-heart:hover {
  font-family: fontawesome;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient($primary 20%, $secondary);
  animation: pulse 0.8s ease-in-out infinite;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}