@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

i.far {
  font-size: 1.4rem;
}

.fa-heart:hover {
  font-family: fontawesome;
  background-image: linear-gradient($primary 20%, $secondary);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: pulse 0.8s ease-in-out infinite;
}