header,
main,
footer {
  max-width: 1440px;
  margin: auto;
  @media screen and (min-width: $desktop) {
    border: 10px solid;
    border-top: none;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  }
}