body {
  font-family: 'Roboto', sans-serif;
}

header, main, footer {
  margin: 0 auto;
}

header span {
  font-family: 'Shrikhand', cursive;
  font-size: 30px;
  color: black;
}

header, main, footer {
  max-width: 1440px;
}

.operation, .resto, .explore {
  h1 {
    font-size: 20px;
    font-weight: 900;
  }
}

.operation {
  h2 {
    font-size: 15px;
    font-weight: bold;
  }
}

a {
  color: black;
  text-decoration: none;
  &:visited {
    color: black;
  }
  &:hover {
    color: $primary;
  }
}